nav,
  .nav-links{
    display: flex;
  }

  nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

  .nav-links{
    gap:2rem;
   list-style: none;
   font-size: 1.5rem;
  }
  #projetcs {
    position: relative;
  }
  
  .color-container{
    border-color: rgb(163, 163, 163);
    background-color: rgb(250, 250, 250);
  }
  
  .project-img {
    border-radius: 2rem;
    width: 20%;
    height: 20%;
  }
  
  .project-title { 
    margin: 1rem;
    color: black;
  }
  
  .project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
  }
  .details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
  
  .section-container {
    gap: 4rem;
    height: 80%;
  }
  
  .section_pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
    }