 .Title{
  color: white;
}
.Contenedor-titulo-sub-titulo{
  background-color: rgb(0, 0, 0);
  margin: 10px;
  text-align: center;
  border-radius: 5rem;
  border: black;
  padding: 5px 10px 5px;
}
.temas-sub-title{
  color: white;
}
.name-nav{
  background-color: rgb(0, 0, 0);
  margin: 15px;
  text-align: center;
  border-radius: 5rem;
  border: black;
  padding: 10px 10px 10px;
}
.name-nav-item{
display: inline-block;
}
.name-nav-item a{
color: #ffffff;
text-decoration: none;
padding: 10px 20px 10px;
display: block;
border-radius: 5px;
border-right: 2px solid #ffffff ;
border-left: 2px solid #ffffff
}

.name-nav-item a:hover{
background-color: #ffffff;
color: #000000;
}

.name-nav-item a:active{
background-color: #ffffff;
color: rgb(25, 229, 10);
}

.articulo-contenedor{
  display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}
.detalles-contendor{
  padding: 1.5rem;
  flex: 1;
  border-radius: 1rem;
  border: rgb(93, 92, 92) 0.1rem solid;
  border-color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(0, 0, 0);
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 7rem;
  border-radius: 3rem;
}
.project-img {
  border-radius: 2rem;
  width: 50%;
  height: 50%;
  }
  .contenedores-temas{
    position: relative;
    display: flex;
  }

  /*HTML*/

  .Contenedor-titulo-html{
    background-color: rgb(0, 0, 0);
    margin: 10px;
    text-align: center;
    border-radius: 5rem;
    border: rgb(0, 0, 0);
    padding: 5px 10px 5px;
    border-style: groove;
  }
  .title-html{
    color: white;
  }

  .contenido-html{
    background-color: rgb(233, 231, 231);
    margin: 10px;
    text-align: center;
    border-radius: 5rem;
    border: rgb(0, 0, 0);
    padding: 10px 20px 10px;
    border-style: groove;
    position: relative;
    display: flex;
  }
